html,
ul {
  scrollbar-width: thin;
}

.md-typeset img,
.md-typeset svg {
  margin: 0 auto;
  display: block;
  max-width: 80%;
}

.md-header__button {
  transition: scale 0.25s;
}

.md-header__button:hover {
  opacity: 1;
  scale: 1.1;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2rem;
  width: 2rem;
}

.md-header__button.md-logo {
  margin: 0;
  padding: 0;
}
